<div th:replace="fragments/sidebar.html"></div>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>STOCK FORMULAIRE</h3>
                <p class="text-subtitle text-muted">Stock formulaire</p>
            </div>
        </div>
    </div>
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-md-6 col-12 flex">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"></h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-vertical" th:action="@{/stock/save}" th:object="${stock}" method="post">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="quantity-icon">Quantité Disponible</label>
                                                <div class="position-relative">
                                                    <input type="number" class="form-control" placeholder="Quantité Disponible"
                                                           th:field="*{quantiteDisponible}" id="quantity-icon">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-box"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="date-last-movement-icon">Date Dernier Mouvement</label>
                                                <div class="position-relative">
                                                    <input type="datetime-local" class="form-control"
                                                           th:field="*{dateDernierMouvement}" id="date-last-movement-icon"
                                                    >
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-calendar-event"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="expiration-date-icon">Date de Péremption</label>
                                                <div class="position-relative">
                                                    <input type="date" class="form-control"
                                                           th:field="*{datePeremption}" th:value="*{datePeremption}" id="expiration-date-icon">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-calendar-x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="medicament-id">Médicament</label>
                                                <select class="form-control" th:field="*{medicament.id}" id="medicament-id">
                                                    <option value="" selected disabled>Choisir...</option>
                                                    <option th:each="medicament : ${medicaments}"
                                                            th:value="${medicament.id}"
                                                            th:text="${medicament.nom}"
                                                            th:selected="|${medicament.id} == ${stock.medicament?.id}|">
                                                        Médicament
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer.html"></div>
