<div th:replace="fragments/sidebar.html"></div>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Formulaire Medicaments Maladie</h3>
                <p class="text-subtitle text-muted">Ajouter/Modifier un medicament maladie</p>
            </div>
        </div>
    </div>
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-md-6 col-12 flex">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulaire</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-vertical" th:action="@{/medicament-maladie/save}"
                                  th:object="${medicamentsMaladie}" method="post" data-parsley-validate>
                                <input type="hidden" th:field="*{id.idMedicament}">
                                <input type="hidden" th:field="*{id.idMaladie}">
                                <input type="hidden" th:field="*{medicament.id}">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="medicament">Medicament</label>
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" th:field="*{medicament.nom}" placeholder="Nom du medicament" id="medicament" data-parsley-required="true" readonly>
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-capsule"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="maladie">Maladie</label>
                                                <div class="position-relative">
                                                    <select th:field="*{maladie}" class="form-control" id="maladie" data-parsley-required="true">
                                                        <option th:each="maladie : ${maladies}"
                                                                th:value="${maladie.id}"
                                                                th:text="${maladie.getNom()}"
                                                                th:selected="${medicamentsMaladie.maladie?.id == maladie?.id}"
                                                        ></option>
                                                    </select>
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-person-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer.html"></div>