<div th:replace="fragments/sidebar.html"></div>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Vendeur</h3>
                <p class="text-subtitle text-muted">Liste des Vendeurs enregistrer</p>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="table1">
                        <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prenom</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Sexe</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vendeur : ${vendeurs}">
                            <td class="text-center" th:text="${vendeur.getId()}"></td>
                            <td class="text-center" th:text="${vendeur.getNom()}"></td>
                            <td class="text-center" th:text="${vendeur.getPrenom()}"></td>
                            <td class="text-center" th:text="${vendeur.getEmail()}"></td>
                            <td class="text-center" th:text="${vendeur.getSexe().getNom()}"></td>
                            <td class="text-center">
                                <a th:href="@{/vendeur/edit(id=${vendeur.getId()})}" class="btn icon btn-outline-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a th:href="@{/vendeur/delete(id=${vendeur.getId()})}" class="btn icon btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a th:href="@{/vendeur/new}" class="btn icon btn-success">
                        <i class="bi bi-plus-circle"></i> Ajouter un vendeur
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer.html"></div>
