<div th:replace="fragments/sidebar.html"></div>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Ventes</h3>
                <p class="text-subtitle text-muted">Liste des ventes</p>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="table1">
                        <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">date</th>
                            <th class="text-center">Montant_total</th>
                            <th class="text-center">Detail</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vente : ${ventes}">
                            <td class="text-center" th:text="${vente.getId()}"></td>
                            <td class="text-center" th:text="${vente.getDateVente()}"></td>
                            <td class="text-center" th:text="${vente.getMontantTotal()}"></td>
                            <td class="text-center">
                                <a th:href="@{/venteDetail(idVente=${vente.getId()})}" class="btn icon btn-outline-primary">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a th:href="@{/vente/edit(id=${vente.getId()})}" class="btn icon btn-outline-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a th:href="@{/vente/delete(id=${vente.getId()})}" class="btn icon btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a th:href="@{/vente/edit}" class="btn icon btn-success">
                        <i class="bi bi-plus-circle"></i> Ajouter une vente
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer.html"></div>
