<div th:replace="fragments/sidebar.html"></div>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Ventes</h3>
                <p class="text-subtitle text-muted">Liste des ventes</p>
                <H3>Details de la vente</H3>
                <p th:text="'Date :' +${vente.getDateVente()}"></p>
                <p th:text="'Total : ' + ${vente.getMontantTotal()}"></p>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="table1">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Quantite</th>
                            <th>Prix_unitaire</th>
                            <th>Medicament</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="venteDetail : ${venteDetails}">
                            <td th:text="${venteDetail.getId()}"></td>
                            <td th:text="${venteDetail.getQuantite()}"></td>
                            <td th:text="${venteDetail.getPrixUnitaire()}"></td>
                            <td th:text="${venteDetail.getMedicament().getNom()}"></td>
                            <td>
                                <a th:href="@{/vente/detail/edit(idVenteDetail=${venteDetail.getId()})}" class="btn icon btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/vente/detail/delete(idVenteDetail=${venteDetail.getId()})}" class="btn icon btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a th:href="@{/vente/detail/edit(idVente=${vente.getId()})}" class="btn icon btn-primary">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/footer.html"></div>
